.header {
    font-family: Chalkduster, fantasy;
    font-size: xxx-large;
    color: rgb(2, 192, 75);
    text-shadow: 4px 4px rgb(157, 237, 225)
}

.candy_fix {
    font-family: Chalkduster, fantasy;
    text-shadow: 1px 1px rgb(223, 24, 250);
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
    color: rgb(6, 231, 189)
}