.employees {
    display: flex;
    flex-direction: column;
    font-family: Chalkduster, fantasy;
}

.employee {
    background-color: rgb(188, 253, 188);
    border: 4px solid rgb(157, 237, 225);
    padding: 0.7rem;
    margin: 0.5rem;
}

.employees_header {
    font-family: Chalkduster, fantasy;
    font-variant: small-caps;
    color: rgb(223, 24, 250);
    text-shadow: 2px 2px rgb(157, 237, 225)
}